force-app/main/default/flows/Avoid_DML_statements_without_error_handling_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>vAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;END&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>anotherCreate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Avoid DML statements without error handling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Avoid DML statements without error handling FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>anotherCreate</name>
        <label>anotherCreate</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>DisplayText</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAccount</name>
        <label>CreateAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>     
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Luis</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;ERROR&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
